/* About Page */
.about-container{
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
    background-color: lightgray;
  }
  
  .profile-pic img{
    width: 40em;
    padding-bottom: 10em;
  }
  
  .about-facts{
    width: max-content;
    flex-basis: 60%;
    padding-top: 80px;
  }
  .about-facts h1{
    margin-bottom: 150px;
  }
  .about-facts p{
    font-size: 40px;
  }

  .stats{
    margin-bottom: 80px;
  }
  .work-experience{
    border: 2px solid black;
    flex-basis: 100%;
   text-align: left;
   margin-bottom: 120px;
  }
  
  .work-experience h1{
    text-align: center;
  }